<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="redis_read_write_servers" value="192.168.3.52:6379"/>
    <add key="redis_readonly_servers" value="192.168.3.52:6379"/>
    <add key="MaxWritePoolSize" value="100"/>
    <add key="MaxReadPoolSize" value="100"/>
    <!--起始时间 Now向前推几个小时-->
    <add key="Start_Hour_Int" value="14"/>
    <!--结束时间 Now向前推几个小时-->
    <add key="End_Hour_Int" value="10"/>
  </appSettings>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
