<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="User" value="jesuie.arthor@gmail.com"/>
    <add key="Password" value="1314dawn"/>
    <add key="Host" value="smtp.gmail.com"/>
    <add key="Port" value="587"/>
    <add key="Days" value="-1"/>
    <add key="MessageToAddress" value="liujie@tydtech.com"/>
    <add key="MessageCCAddress" value="bruce@tydtech.com,sampson@tydtech.com,zeen@tydtech.com,jay@tydtech.com,machao@tydtech.com,yangxudong@tydtech.com,tianfei@tydtech.com,cuijiequan@tydtech.com"/>
    <add key="AttachMentFilePath" value="D:\OTAStat\"/>
    <add key="MessageBody" value="详见附件"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>