<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Sum" value="300000"/>
    <add key="DataSpace" value="100000"/>
    <add key="StartId" value="0"/>
    <add key="EndId" value="32320"/>
    <add key="SqlPrefix" value="insert into stats (`old_id`,`mobile_num`, `imei`, `imsi`, `model`, `time`, `lbs`, `factory`, `create_time`) values "/>
    <add key="FilePath" value="E:\Temp\"/>
  </appSettings>
  <connectionStrings>
    <add name="MobileSaleStatSqlServer" connectionString="Data Source=211.151.98.26,23000;Initial Catalog=MobileSaleStatMain;User Id=tydstat;Password=pIaS9nqEms8L;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>